---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Mauricio G. Olagaray Portfolio - Privacy Policy" 
		description="Welcome to Mau's Portfolio - Our Privacy Policy page provide important information about how we handle user privacy and the rules for using our website."
		keyword="Mauricio G. Olagaray, Mau Gar Ola, Portfolio, Programming, Projects, Desings, Creations, Privacy Policy"
		author="Mauricio G. Olagaray">
	<section class="neumorphism-flat rounded-3xl overflow-hidden p-6 text-site-100">
        <a  href="./" class="neumorphism-flat-sm p-2 rounded-full hover:text-site-200 m-auto">Back</a>
		<h1 class="neumorphism-flat-text-lg text-site-200 text-3xl md:text-5xl lg:text-7xl font-bold tracking-wider mt-8 mb-4 md:text-right">Privacy Policy</h1>
        <p>Last updated: Apr 23 2024</p>
        <p>Thank you for visiting MauGarOla Portfolio. At MauGarOla Portfolio, the privacy of our visitors is a top priority for us. This privacy policy describes how we collect, use, and protect the personal information you provide on our website.</p>
        <h2 class="neumorphism-pressed-text-sm text-site-300 text-lg font-bold tracking-widest md:text-right mt-8 mb-4">Collection and use of information</h2>
        <p>We do not collect personally identifiable information from visitors to our website unless they expressly provide it. If you contact us through our contact form or email, we may receive your name and email address to respond to your inquiry. However, this information is not used for any other purpose and is not shared with third parties.</p>
        <h2 class="neumorphism-pressed-text-sm text-site-300 text-lg font-bold tracking-widest md:text-right mt-8 mb-4">Cookies and similar technologies</h2>
        <p>MauGarOla Portfolio may use cookies and other tracking technologies to enhance the user experience on our website. These cookies do not collect personally identifiable information about you and are used solely for statistical and analytical purposes.</p>
        <h2 class="neumorphism-pressed-text-sm text-site-300 text-lg font-bold tracking-widest md:text-right mt-8 mb-4">Links to third-party websites</h2>
        <p>Our website may contain links to third-party websites that are not controlled by us. We are not responsible for the privacy practices or content of these third-party websites. We recommend that you review the privacy policy of each website you visit.</p>
        <h2 class="neumorphism-pressed-text-sm text-site-300 text-lg font-bold tracking-widest md:text-right mt-8 mb-4">Changes to the privacy policy</h2>
        <p>We reserve the right  to update or change our privacy policy at any time. Any changes to this policy will be effective immediately upon posting on this page.</p>
        <h2 class="neumorphism-pressed-text-sm text-site-300 text-lg font-bold tracking-widest md:text-right mt-8 mb-4">Contact</h2>
        <p>If you have any questions about this privacy policy, please contact us at mau.gar.ola@hotmail.com .</p>
        <a  href="./" class="neumorphism-flat-sm p-2 rounded-full hover:text-site-200 m-auto mt-6 inline-block" >Back</a>
	</section>
</Layout>
<style>

</style>