---
interface Props {
    title: string
    class?: string
}
const { title } = Astro.props
---

<article class={`${Astro.props.class} neumorphism-flat rounded-3xl p-3 text-center sm:text-right sm:p-5`}>
    <h3 class="font-bold text-md sm:text-2xl">{title}</h3>
    <slot name="image"></slot>
    <slot name="content"></slot>
</article>