---
import Github from "./logos/Github.astro";
import LinkedIn from "./logos/LinkedIn.astro";
import Whatsapp from "./logos/Whatsapp.astro";
import Mail from "./logos/Mail.astro";
import Phone from "./logos/Phone.astro";
import Resume from "./logos/Resume.astro";


---
<section {...Astro.props}>
    <Github />
    <LinkedIn />
    <Whatsapp />
    <Mail />
    <Phone />
    <Resume />
</section>
