---
import Contact from "./Contact.astro";
---
<footer class="neumorphism-flat mt-12 p-6 rounded-3xl text-site-300 flex justify-between">
    <h4 class="text-sm text-pretty">© 2024 MauGarOla. <br/>Many Rights Reserved.</h4>
    <Contact class="flex justify-between w-7/12"/>
</footer>