<section id="#pre-footer" class="neumorphism-flat mt-24 p-6 rounded-3xl text-site-300 grid grid-cols-3">
    <h3>Resources</h3>
    <h3>Follow me</h3>
    <h3>Legal</h3>
    <ul>
        <li>Astro</li>
        <li>Tailwind</li>
        <li>TypeScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>TablerIcon</li>
    </ul>
    <ul>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Blog</li>
        <li>Travel Plans</li>
        <li>Recepies</li>
    </ul>
    <ul>
        <li><a href="../privacy">Privacy Policy</a></li>
        <li><a href="../terms">Terms & Conditions</a></li>
    </ul>
</section>