<section class="neumorphism-pressed mt-24 p-6 rounded-3xl text-site-300 text-sm text-center gap-8 grid pre-footer">
    <div class="neumorphism-flat-sm rounded-2xl p-4">
        <h3 class="neumorphism-pressed-text-sm text-site-100 text-md font-semibold tracking-widest mb-3 mx-auto">Resources</h3>
        <ul>
            <li><a href="https://astro.build">Astro</a></li>
            <li><a href="https://tailwindcss.com">Tailwind</a></li>
            <li><a href="https://developer.mozilla.org/es/docs/Web/HTML">HTML</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS#">CSS</a></li>
            <li><a href="https://tabler.io/icons">TablerIcon</a></li>
            <li><a href="https://www.typescriptlang.org">TypeScript</a></li>
        </ul>
    </div>
    <div class="neumorphism-flat-sm rounded-2xl p-4">
        <h3 class="neumorphism-pressed-text-sm text-site-100 text-md font-bold tracking-widest mb-3 mx-auto">Legal</h3>
        <ul>
            <li><a href="../privacy">Privacy Policy</a></li>
            <li><a href="../terms">Terms & Conditions</a></li>
        </ul>
    </div>
    <div class="neumorphism-flat-sm rounded-2xl p-4">
        <h3 class="neumorphism-pressed-text-sm text-site-100 text-md font-bold tracking-widest mb-3 mx-auto">Follow me</h3>
        <ul>
            <li><a href="https://www.instagram.com/maugarola/">Instagram</a></li>
            <li><a href="https://www.facebook.com/maugarola/">Facebook</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Travel Plans</a></li>
            <li><a href="">Recepies</a></li>
        </ul>
    </div>
</section>
<style>
    a:hover {
        color: #f6fcc7;
    }
    .neumorphism-flat-sm {
		box-shadow:  4px 4px 8px #0f4a52,
					-4px -4px 8px #17707a;
    }
    .pre-footer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
</style>